* {
    margin: 0;
    padding: 0;
}

.block1 {
    background-color: bisque;
    width: 100%;
}

.inner1 {
    width: 200px;
    min-height: 200px;
    background-color: aquamarine;
    color: blue;
    text-align: justify;
    /* border-color: black;
    border-style: solid;
    border-width: 3px; */
    border: solid 15px black;
    /* border-radius: 10px; */
    /* margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 25px; */
    /* margin: 25px; все по 25 пикселей  */
    /* margin: 25px 55px; 1 - верхнее и нижее, 2 - лево право */
    /* margin: 25px 60px 30px;  верх, лево и право, низ */
    /* margin: 10px 60px 35px 100px; */
    margin: 20px auto;
    padding: 10px 10px;
    box-sizing: content-box;
    /* overflow: hidden; */
}

.block2 {
    height: 100px;
    width: 100px;
    background-color: burlywood;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;
}