* {
    margin: 0;
    padding: 0;
}

.header1 {
    background-color: rgb(192, 142, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150vh;
    font-size: 24px;
    color: whitesmoke;
    box-sizing: border-box;

}

.main1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    background-color: rgb(180, 142, 191);
    font-size: 24px;
    color: whitesmoke;
    text-align: center;
    box-sizing: border-box;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.footer1 {
    background-color: rgb(192, 142, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 24px;
    color: whitesmoke;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.div1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}