.box {
    background-color: rgb(71, 159, 248);
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    overflow: hidden;
}

.line1, .line2, .line3, .line4, .figure {
    background-color: rgb(237, 189, 64);
    position: absolute;
}

.line1 {
    left: 30px;
    width: 3px;
    height: 100%;
}

.line2 {
    right: 30px;
    width: 3px;
    height: 100%;
}   

.line3 {
    bottom: 30px;
    width: 100%;
    height: 3px;
}

.line4 {
    top: 30px;
    width: 100%;
    height: 3px;
}

.figure {
    right: -34px;
    top: 86px;
    height: 60px;
    width: 300px;
    transform: rotate(45deg);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    overflow-clip-margin: ;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lora", serif;
    font-size: 32px;
    }