
body {
	background-color: #fff;
}

.container {
	margin: 15px auto;
	width: 600px;
	border: solid 2px gray;
	border-radius: 10px;
	text-align: center;
}

header {
	background-color: rgb(201, 237, 255);
	border-radius: 5px;
	height: 60px;
	margin: 10px;
	vertical-align: middle;
}
nav {
	background-color: rgb(250, 207, 214);
	border-radius: 5px;
	height: 30px;
	margin: 10px;
}

main {
	background-color: ;
    display: flex; 
	flex-direction: row;
	margin: 10px;
/*	min-height: calc(100vh - 240px); */
}

.main-container {
	width: 70%;
	padding-right: 15px;
	padding-bottom: 0px;
}

section {
	background-color: rgb(237, 255, 169);
	border-radius: 5px;
	margin-bottom: 10px;
	min-height: 50%;
	text-align: justify;
	padding: 10px;
}

article {
	background-color: rgb(222, 208, 237);
	border-radius: 5px;
/*	min-height: 50%; */
	text-align: justify;
	padding: 10px;
}

aside {
	background-color: rgb(255, 242, 181);
	border-radius: 5px;
	width: 30%;
}

footer {
	background-color: rgb(187, 255, 214);
	border-radius: 5px;
	height: 60px;
	margin: 10px;
}



